/* project styles */
a {
	cursor: pointer;
}
.red-header {
	background-color: red;
	padding: 25px;
	margin-bottom: 40px;
}
.red-footer {
	background-color: red;
	padding: 25px;
}
.white { color: white; }
.white:hover,
.white:visited { color: white; }
.feedDiv {
    min-height: 60px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.div-info {
	margin-top: 25px;
	padding-right: 5px;
}
.div-toggle {
	background-color: black;
	padding: 10px 10px 0 10px;
	height: 6em;
}
.photoDiv {
	width: auto;
	height: auto;
	overflow: hidden;
}