/* project styles */
.white { color: white; }
.white:hover,
.white:visited { color: white; }
.feedDiv {
    min-height: 60px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.div-info {

}